<div class="row">
    <!--<div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>-->

    <div class="container">

        <div class="text-center">
            <div class="card">
                <h1 class="display-4">Welcome to TechGeek</h1>

                <p class="lead">Online learning Platform, become Geek!</p>

                <div [ngSwitch]="isAuthenticated()">

                </div>

            </div>
            <br>
            <img class="w-50" src="live.jpg">
            <br><br>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            LIVE
                        </div>
                        <div class="card-body">
                            A
                            B
                            C
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success  " [routerLink]="['/live']">
                                <fa-icon icon="plus"></fa-icon>
                                <span>
                                Join now
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            VIDEO
                        </div>
                        <div class="card-body">
                            A
                            B
                            C
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary  " [routerLink]="['/']">
                                <fa-icon icon="plus"></fa-icon>
                                <span>
                                Watch
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            TEXT
                        </div>
                        <div class="card-body">
                            A
                            B
                            C
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary " [routerLink]="['/']">
                                <fa-icon icon="book"></fa-icon>
                                <span>
                                Read
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
